# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker compose reference guide at
# https://docs.docker.com/compose/compose-file/
services:
  backend:
    build:
      context: .
    env_file:
      - .env
    environment:
      - FRONTEND_URL=${FRONTEND_URL}
      - BACKEND_APP_PORT=${BACKEND_LOCALHOST_PORT}
      - FRONTEND_APP_PORT=${FRONTEND_LOCALHOST_PORT}
      - FRONTEND_CONTAINER_PORT=${FRONTEND_CONTAINER_PORT}
    networks:
      - polari-node-network
    ports:
      - "${BACKEND_LOCALHOST_PORT}:${BACKEND_CONTAINER_PORT}"
      - "3000:3000"


# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

networks:
  polari-node-network:
    external: true